<h1> LIST OF RESTS</h1>
<div>
     {{#each rests}}  
    <article class="post">
      <h2><a href="/restaurant/{{_id}}">{{name}}</a></h2>
      <p>{{{obj.description}}}</p>
           <p>{{{obj.timing}}}</p>
                <p>{{{obj.state}}}</p>
  
  
      
    </article>
  {{/each}}
</div>
<a href="/userprofile">User Profile</a>